* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.topo {
  background-color: #111c2e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.menu a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.menu a:hover {
  color: orange;
}

.categorias {
  background-color: #6c757d;
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.categorias button {
  background: transparent;
  border: none;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
}

.categorias button:hover {
  background-color: #495057;
  border-radius: 5px;
}

.ativo {
  background-color: #343a40 !important;
  border-radius: 5px;
}

.pesquisa {
  background-color: #e7e3d8;
  padding: 30px;
}

.pesquisa input {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
}

.pesquisa button {
  padding: 10px 20px;
  background-color: #111c2e;
  color: white;
  border: none;
  cursor: pointer;
}


.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.preco {
    font-weight: bold;
    color: green;
    margin: 8px 0;
}

.footer {
  background-color: #0e1a2b;
  color: white;
  padding: 40px;
  border-radius: 10px;
  margin: 40px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-col h3 {
  font-size: 14px;
  margin-bottom: 10px;
  color: #d1d1d1;
}

.footer-col a {
  text-decoration: none;
  color: #8fa3c8;
  font-size: 13px;
}

.footer-col a:hover {
  color: white;
}

.footer-col p {
  font-size: 13px;
  color: #8fa3c8;
}

.social a {
  font-size: 22px;
  margin-right: 10px;
  text-decoration: none;
}

.footer-bottom {
  background-color: #d8d3c5;
  color: #333;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
  border-radius: 8px;
  font-size: 13px;
}